[gd_scene load_steps={{ load_steps }} format=3]

{% for res in ext_resources %}
[ext_resource type="{{ res.type }}" path="{{ res.path }}" id="{{ res.id }}"]
{% endfor %}

{% for sub in sub_resources %}
[sub_resource type="{{ sub.type }}" id="{{ sub.id }}"]
{% if sub.size is defined %}
size = Vector2({{ sub.size[0] }}, {{ sub.size[1] }})
{% endif %}
{% if sub.radius is defined %}
radius = {{ sub.radius }}
{% endif %}
{% if sub.height is defined %}
height = {{ sub.height }}
{% endif %}
{% endfor %}

[node name="{{ root.name }}" type="{{ root.type }}"]
{% if root.script_id is defined and root.script_id %}
script = ExtResource("{{ root.script_id }}")
{% endif %}
{% for key, value in root.properties.items() %}
{{ key }} = {{ value }}
{% endfor %}

{% for child in root.children %}
[node name="{{ child.name }}" type="{{ child.type }}" parent="{{ child.parent }}"]
{% if child.texture_id is defined and child.texture_id %}
texture = ExtResource("{{ child.texture_id }}")
{% endif %}
{% if child.shape_id is defined and child.shape_id %}
shape = SubResource("{{ child.shape_id }}")
{% endif %}
{% for key, value in child.properties.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
